<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>
    <script>
       
    </script>
</head>
  <body>
    <form method="POST" action="newNote">
        <textarea rows="5" cols="80" id="note" name="note">
        </textarea> 
        <button type="submit">Add</button>
    </form>
    <form method="POST" action="findNote">
        <input type="text" placeholder="Hash" id="hash" name="hash"></input>
        <button type="submit">Find Note</button>
    </form>
</body>
</html>